
*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

margin:0;

width:100vw;
height:100vh;

overflow:hidden;

font-family:Georgia, serif;

background:black;

}


#jogo{

position:relative;

width:1920px;
height:1080px;

transform-origin:top left;

}

/* =====================
TELA INICIAL
===================== */


#telaInicial{

width:100vw;
height:100vh;

background-image:url("capa.png");

background-size:cover;
background-position:center;

position:relative;

}



#botaoNova{

position:absolute;

left:80px;
bottom:120px;


padding:20px 60px;


font-size:28px;

font-weight:bold;

font-family:Georgia, serif;


background:#d4af37;

border:3px solid #8b6508;

border-radius:20px;


box-shadow:0 0 25px black;


cursor:pointer;

}



#botaoNova:hover{

transform:scale(1.08);

}





/* =====================
CADASTRO
===================== */


#cadastro{

display:none;

width:100vw;
height:100vh;

background-image:url("2.png");

background-size:cover;
background-position:center;


justify-content:center;

align-items:center;

}



#caixaCadastro{


background:rgba(0,0,0,0.8);

padding:50px;

width:650px;


border:3px solid #d4af37;

border-radius:25px;


text-align:center;

}



#caixaCadastro h1{

color:#d4af37;

font-size:40px;

}



#caixaCadastro label{

display:block;

margin-top:30px;


font-size:28px;

color:white;

}



#caixaCadastro input{


width:90%;

height:55px;


font-size:28px;

text-align:center;

border-radius:10px;


}



#caixaCadastro button{


margin-top:35px;

padding:20px 50px;


font-size:25px;

font-weight:bold;


background:#d4af37;

border-radius:15px;


}





/* =====================
MENSAGEM BONITA
===================== */


#mensagem{

display:none;

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);


background:rgba(0,0,0,0.9);


width:600px;

padding:40px;


border:3px solid #d4af37;

border-radius:25px;


text-align:center;

color:white;

}


#mensagem button{


margin-top:30px;

padding:15px 50px;

font-size:25px;

background:#d4af37;

border-radius:15px;


}







/* =====================
HISTÓRIA
===================== */


#historia{

display:none;

width:100vw;

height:100vh;


background-size:cover;

background-position:center;


background-color:black;


/* efeito cinematográfico */
transition:opacity 1.5s ease-in-out;


position:relative;

}

#botaoInvisivel{

display:none;

position:absolute;


bottom:60px;

left:50%;

transform:translateX(-50%);


width:500px;

height:120px;


background:transparent;

border:none;

cursor:pointer;

}







/* =====================
AVISO EQUIPE
===================== */


#avisoEquipe{

display:none;


position:absolute;


top:50%;

left:50%;


transform:translate(-50%,-50%);



background:rgba(20,15,10,0.95);


width:600px;


padding:40px;


border:3px solid #d4af37;


border-radius:25px;



text-align:center;

color:white;


}



#avisoEquipe h1{

color:#ffd66b;

}



#avisoEquipe button{


margin-top:20px;


font-size:25px;


padding:15px 40px;


background:#d4af37;


border-radius:15px;


}







/* =====================
CASO 1
===================== */


#caso1{

width:100vw;

height:100vh;


background-image:url("caso1.png");


background-size:cover;


background-position:center;


position:relative;


}




#botaoAcessar{


position:absolute;


bottom:70px;

left:50%;


transform:translateX(-50%);



width:520px;


height:80px;


background:#d4af37;


border-radius:20px;


font-size:28px;


font-weight:bold;


cursor:pointer;


}






/* =====================
FOLHA DO CASO
===================== */


#folha1{


width:100vw;

height:100vh;


background-image:url("folha1.png");


background-size:cover;


background-position:center;


position:relative;


}






/* BOTÕES DAS EVIDÊNCIAS */


#menuDicas{


position:absolute;


left:40px;


top:140px;


display:flex;


flex-direction:column;


gap:12px;


}




#menuDicas button{


width:60px;

height:60px;


border-radius:50%;


background:#d4af37;


font-size:28px;


font-weight:bold;


cursor:pointer;


}







/* LISTA DAS DICAS NA FOLHA */


/* ÁREA DAS EVIDÊNCIAS */

#folhaPistas{

position:absolute;

top:60px;

left:63%;

transform:translateX(-50%);


width:620px;

height:480px;


padding:25px;


font-family:"Georgia",serif;

color:#2b1600;

}



#folhaPistas h2{


text-align:center;


font-size:34px;


color:#6b0000;


text-shadow:1px 1px #d4af37;


margin-bottom:25px;


}



#listaDicas{


font-size:22px;


line-height:1.3;


}



#listaDicas li{


margin-bottom:8px;


}





/* RESPOSTA */


#areaResposta{

position:absolute;


bottom:45px;

left:63%;

transform:translateX(-50%);


text-align:center;


}



#areaResposta input{


width:400px;

height:50px;


font-size:26px;


text-align:center;

border-radius:10px;


}



#areaResposta button{


height:55px;


padding:0 35px;


font-size:22px;


font-weight:bold;


background:#d4af37;


border-radius:12px;


cursor:pointer;


}




#pontuacao{

font-size:28px;

color:#2b1600;

font-weight:bold;




}
#janelaJogo{


position:absolute;


top:50%;
left:50%;


transform:translate(-50%,-50%);



width:600px;


padding:40px;



background:rgba(0,0,0,0.95);


border:4px solid #d4af37;


border-radius:25px;



text-align:center;


color:white;



box-shadow:0 0 40px black;


}



#janelaJogo h1{


color:#ffd84d;


font-size:35px;


}



#janelaJogo p{


font-size:25px;


margin:25px;


}



#janelaJogo button{


padding:15px 45px;


font-size:22px;


font-weight:bold;


background:#d4af37;


border-radius:15px;


cursor:pointer;


}
.imagemDica{


width:250px;


display:block;


margin:15px auto;


border-radius:10px;


}
/* =====================
CASO BASE
===================== */


#casoBase{

width:100vw;
height:100vh;

background-image:url("casobase1.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}



/* pergunta no canto inferior esquerdo */

#validarBase{


position:absolute;


/* ajuste fino aqui */
left:600px;
bottom:250px;


text-align:center;


background:rgba(0,0,0,0.75);


padding:20px 35px;


border:3px solid #d4af37;

border-radius:20px;


}



#validarBase h2{

color:#ffd84d;

font-size:26px;

margin-bottom:15px;


}



#validarBase button{


width:130px;

height:50px;


margin:10px;


font-size:22px;

font-weight:bold;


background:#d4af37;

border-radius:15px;


cursor:pointer;


}
/* ===========================
PASSO INDUTIVO
=========================== */


#passoIndutivo{

width:100vw;
height:100vh;

background-image:url("passoindutivo1.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


/* botões */

#botoesInducao{

position:absolute;

/* ajuste aqui */
left:500px;
bottom:60px;

display:flex;
gap:30px;

}


#botoesInducao button{

background:#d4af37;

padding:18px 35px;

font-size:22px;

font-weight:bold;

border-radius:15px;

cursor:pointer;

}


/* caixa da dica */

#dicaInducao{

display:none;

position:absolute;

left:330px;
top:610px;

width:520px;

background:rgba(0,0,0,0.90);

border:3px solid #d4af37;

border-radius:20px;

padding:25px;

color:white;

font-size:22px;

text-align:center;

box-shadow:0 0 25px black;

}
#fimCaso{

width:100vw;
height:100vh;

background:black;

display:flex;

justify-content:center;
align-items:center;

gap:40px;

}


#fimCaso button,
#abrirCaso2{

background:#d8bd35;

padding:25px 60px;

border-radius:15px;

font-size:25px;

font-weight:bold;

cursor:pointer;

}



/* CASO 2 */

#caso2{

width:100vw;
height:100vh;

background-image:url("caso2.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#abrirCaso2{

position:absolute;

bottom:70px;

left:50%;

transform:translateX(-50%);

}



/* FOLHA 2 */


#folha2{

width:100vw;
height:100vh;

background-image:url("folha2.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

}
#menuDicas2{

position:absolute;

left:80px;
top:160px;

display:flex;

flex-direction:column;

gap:10px;

}


#menuDicas2 button{

width:50px;
height:50px;

border-radius:50%;

background:#d8bd35;

font-size:22px;

font-weight:bold;

cursor:pointer;

}



#areaDicas2{

position:absolute;

left:880px;
top:90px;

transform:none;

width:650px;

font-size:20px;

color:black;

}
#areaDicas2 h1{

color:#6b0000;

font-size:30px;

text-align:center;

}


#resposta2{

position:absolute;

left:300px;
bottom:100px;

width:500px;
height:55px;

font-size:28px;

text-align:center;

}


#investigar2{

position:absolute;

left:850px;
bottom:100px;

height:60px;

padding:0 40px;

background:#d8bd35;

font-size:25px;

font-weight:bold;

border-radius:15px;

}


#pontuacao2{

position:absolute;

bottom:25px;
left:500px;

color:white;

}
/* ======================
   CASO BASE 2
====================== */


#casoBase2{

width:100vw;
height:100vh;

background-image:url("casobase2.png");

background-size:contain;

background-position:center;

background-repeat:no-repeat;

background-color:black;

position:relative;

}
#perguntaCasoBase2{

position:absolute;

left:500px;
bottom:200px;

background:rgba(0,0,0,.85);

border:3px solid #d4af37;

border-radius:20px;

padding:25px;

color:#ffd700;

font-size:22px;

text-align:center;

}
#perguntaCasoBase2 button{

background:#d8bd35;

padding:12px 40px;

margin:10px;

border-radius:12px;

font-size:20px;

font-weight:bold;

cursor:pointer;

}
#passoIndutivo2{

width:100vw;
height:100vh;

background-image:url("passoindutivo2.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#botoesInducao2{

position:absolute;

bottom:40px;
left:50%;

transform:translateX(-50%);

display:flex;
gap:40px;

}


#botoesInducao2 button{

background:#d8bd35;

padding:20px 50px;

border-radius:15px;

font-size:22px;

font-weight:bold;

}
/* CASO 3 */

#caso3{

width:100vw;
height:100vh;

background-image:url("caso3.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}



#folha3{

width:100vw;
height:100vh;

background-image:url("folha3.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}



#menuDicas3{

position:absolute;

left:80px;
top:150px;

display:flex;
flex-direction:column;

gap:10px;

}



#menuDicas3 button{

width:50px;
height:50px;

border-radius:50%;

background:#d8bd35;

font-size:22px;

font-weight:bold;

}



#areaDicas3{

position:absolute;

left:420px;
top:80px;

width:650px;

font-size:25px;

}


#resposta3{

position:absolute;

bottom:90px;
left:280px;

width:500px;
height:55px;

font-size:25px;

text-align:center;

}



#investigar3{

position:absolute;

bottom:90px;
left:850px;

height:60px;

padding:0 40px;

background:#d8bd35;

font-size:25px;

border-radius:15px;

}



#casoBase3{

width:100vw;
height:100vh;

background-image:url("casobase3.png");

background-size:contain;

background-position:center;

background-repeat:no-repeat;

background-color:black;

position:relative;

}



#registroCaso3{

position:absolute;

right:150px;
top:100px;

width:500px;

font-size:24px;

color:black;

}



#botoesInducao3{

position:absolute;

bottom:50px;
left:350px;

}


#botoesInducao3 button{

background:#d8bd35;

font-size:25px;

padding:25px 60px;

border-radius:15px;

}
/* ======================
   PISTA SECRETA BONUS
====================== */


#bonus,
#bonus4{

width:100vw;
height:100vh;

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#bonus4{

background-image:url("bonus4.png");

}
/* ======================
   EFEITO VIDEO BONUS
====================== */

.fadeBonus{

animation: aparecerBonus 1s;

}


@keyframes aparecerBonus{

from{
opacity:0;
}

to{
opacity:1;
}

}
/* =========================
   TELA BONUS
========================= */


#bonus,
#bonus4{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

z-index:50;

}



/* =========================
   BOTÕES BONUS
   (AJUSTAR POSIÇÃO AQUI)
========================= */


#botoesBonus{

position:absolute;

bottom:120px;   /* sobe e desce */

left:50%;

transform:translateX(-50%);


display:flex;

flex-direction:column;

gap:30px;


z-index:100;

}



/* ============================
 BOTÕES INVISÍVEIS BONUS
============================ */


#botoesBonus button{


width:450px;

height:90px;


background:transparent;


color:transparent;


border:none;


cursor:pointer;


}

/* =========================
   BONUS 4 - PISTA ACHADA
========================= */


#bonus4{


width:100vw;

height:100vh;


background-image:url("bonus4.png");


background-size:contain;

background-repeat:no-repeat;

background-position:center;


background-color:black;


position:relative;


cursor:pointer;


}



/* =========================
   BONUS 5
========================= */


#bonus5{

width:100vw;
height:100vh;

background-image:url("bonus5.png");

background-size:cover;
background-position:center;

position:relative;

}


/* =========================
   POSIÇÃO DAS PERGUNTAS
   mexer aqui se precisar
========================= */


#perguntasBonus{

position:absolute;


/* AJUSTAR AQUI */

right:190px;   /* esquerda e direita */
top:100px;     /* altura */


/* ================= */

width:430px;

font-size:15px;

font-weight:bold;

}

/* CADA PERGUNTA */


.questaoBonus{

margin-bottom:25px;

}


.questaoBonus h2{

font-size:24px;

margin-bottom:5px;

}


.questaoBonus p{

font-size:17px;

margin:5px;

}



/* BOTÕES DAS RESPOSTAS */


.questaoBonus button{


display:block;

width:400px;

height:40px;

margin:7px;


background:#b88a18;   /* amarelo velho */


border:3px solid #3b2600;

border-radius:8px;


font-size:15px;

font-weight:bold;


cursor:pointer;


}


/* RESPOSTA CERTA OU ERRADA */


.retorno{

font-size:15px;

font-weight:bold;

}


/* =========================
 BOTÕES FINAIS DO BONUS
========================= */


#finalBonus{

position:absolute;


/* AJUSTAR POSIÇÃO FINAL */

bottom:55px;

right:520px;


/* ====================== */

display:none;

}


#finalBonus button{

width:260px;

height:55px;


margin:8px;


background:#b88a18;

border:3px solid #3b2600;

border-radius:10px;


font-size:17px;

font-weight:bold;


cursor:pointer;

}
/* =========================
   RELATÓRIOS CASO 1
========================= */

#relatorio1a,
#relatorio1b,
#relatorio2{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

position:absolute;
top:0;
left:0;

z-index:9999;

cursor:pointer;

}


#relatorio1a{

background-image:url("relatorio1a.png");

}


#relatorio1b{

background-image:url("relatorio1b.png");

}
#relatorio2{

background-image:url("relatorio2.png");

}
/* =========================
   VÍDEO HISTÓRIA
========================= */

#videoHistoria{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

position:absolute;

top:0;
left:0;

z-index:9999;

opacity:1;

}
/* =========================
   SENHA FINAL
========================= */

#areaSenhaFinal{

position:absolute;

bottom:400px;   /* sobe a caixa */
left:55%;

transform:translateX(-50%);

text-align:center;

}


#senhaFinal{

width:390px;
height:50px;

background:transparent;

border:3px solid #b88a18;

border-radius:10px;

font-size:35px;

text-align:center;

color:#d8bd35;

}


#areaSenhaFinal button{

margin-top:10px;

width:260px;
height:45px;

background:#b88a18;

font-size:22px;

font-weight:bold;

border-radius:12px;

cursor:pointer;

}


#erroSenhaFinal{

color:#d8bd35;

font-size:25px;

margin-top:10px;

}



/* POLIGONOS E FALHA */


#poligonos,
#falhou1{

width:100vw;
height:100vh;

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

}


#poligonos{

background-image:url("poligonos.png");

}


#falhou1{

background-image:url("falhou1.png");

cursor:pointer;

}
/* =========================
   BOTÕES POLÍGONOS
========================= */


#botoesPoligonos{

position:absolute;

bottom:260px;
left:50%;

transform:translateX(-50%);

display:flex;

gap:15px;

}


#botoesPoligonos button{


width:145px;
height:130px;

background:transparent;

border:none;

cursor:pointer;


}




#falhou2,
#videoRevelacao,
#fimJogo{


width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

}



#falhou2{

background-image:url("falhou2.png");

cursor:pointer;

}



#videoRevelacao{

cursor:pointer;

}



#fimJogo{

background-image:url("fim.png");

position:relative;

}



#dadosFinais{

position:absolute;

left:60%;
top:540px;

transform:translateX(-50%);

text-align:center;

font-size:45px;

font-weight:bold;

color:#d6bd32;

line-height:2.2;   /* separa nome e pontos */

}

#fimJogo{

background-image:url("fim.png");

position:relative;

cursor:pointer;

}
/* =====================
TELA DAS INVESTIGAÇÕES
===================== */

#telaInvestigacoes{

width:100vw;
height:100vh;

background-image:url("tela1.png");

background-size:cover;
background-position:center;

position:relative;

}


/* todos os botões invisíveis */

#telaInvestigacoes button{

position:absolute;

background:transparent;

border:none;

cursor:pointer;

}


/* INVESTIGAÇÃO 1 */

#btnInv1{

left:50px;
top:300px;

width:300px;
height:300px;

}


/* INVESTIGAÇÃO 2 */

#btnInv2{

left:550px;
top:300px;

width:300px;
height:300px;

}


/* INVESTIGAÇÃO 3 */

#btnInv3{

left:1000px;
top:300px;

width:300px;
height:300px;

}


/* INVESTIGAÇÃO 4 */

#btnInv4{

position:absolute;

left:1450px;
top:300px;

width:300px;
height:280px;

background:transparent;

border:none;

cursor:pointer;

}

/* MODO PROFESSOR */

#btnProfessor{

left:630px;
bottom:150px;

width:520px;
height:100px;

}

/* =========================
MODO CRIAÇÃO PROFESSOR
========================= */

#modoCriacao{

display:none;

width:100vw;
height:100vh;

background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("tela1.png");

background-size:cover;
background-position:center;

overflow-y:auto;

font-family:Georgia,serif;

text-align:center;

padding:30px;

box-sizing:border-box;

}


#modoCriacao h1{

color:#e8d09b;
font-size:38px;

}


#modoCriacao h2{

color:#e8d09b;

}


/* textos */

#modoCriacao label{

display:block;

color:white;

font-size:18px;

margin-top:10px;

}


/* campos */

#modoCriacao input,
#modoCriacao textarea{

width:55%;

background:#e5d0a0;

border:3px solid #5b3b16;

border-radius:8px;

font-size:17px;

padding:8px;

font-family:Georgia,serif;

}


/* pistas menores */

#pista1,#pista2,#pista3,#pista4,#pista5,
#pista6,#pista7,#pista8,#pista9,#pista10{

height:25px;

}


/* caixas grandes */

#novasRespostas,
#mensagemFinal,
#dicaIndutiva{

height:60px;

}


/* botão salvar bonito */

#modoCriacao button{

display:block;

margin:25px auto 60px auto;

font-size:24px;

padding:15px 50px;

background:#173b18;

color:#e8d09b;

border:3px solid #b68b32;

border-radius:12px;

cursor:pointer;

}


#modoCriacao button:hover{

transform:scale(1.05);

}
/* =====================
EXTRA PROFESSOR 1
===================== */

#extra1{

width:100vw;
height:100vh;

background-image:url("extra1.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#menuExtra{

position:absolute;

left:570px;
top:190px;

display:grid;

grid-template-columns:repeat(2,55px);

gap:14px;

}
#menuExtra button{

width:45px;
height:45px;

border-radius:50%;

background:#d4af37;

border:2px solid #5b3b16;

font-size:18px;

font-weight:bold;

font-family:Georgia,serif;

cursor:pointer;

box-shadow:2px 2px 5px #000;

}
#areaExtra{

position:absolute;

left:930px;
top:210px;

width:550px;

font-size:18px;

font-family:Georgia,serif;

color:#2b1b08;

}


#areaExtra h2{

font-size:28px;

text-align:center;

margin-bottom:25px;

}

#listaExtra{

margin-left:150px;

font-size:20px;

line-height:1.8;

}#respostaExtraArea{

position:absolute;

bottom:60px;

left:50%;

transform:translateX(-50%);

text-align:center;

}


#respostaExtraArea input{

width:450px;
height:50px;

font-size:25px;

text-align:center;

}


#respostaExtraArea button{

height:55px;

font-size:22px;

background:#d4af37;

}
#pontosExtra{

position:absolute;

right:220px;
bottom:170px;

font-size:26px;

color:#2b1b08;

}
/* =====================
MENSAGEM INVESTIGAÇÃO
===================== */

#mensagemJogo{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.7);

z-index:999;

}


#caixaMensagem{

width:500px;

background:#d8bd7a;

border:5px solid #4b2d0b;

border-radius:15px;

padding:30px;

text-align:center;

font-family:Georgia,serif;

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

box-shadow:0 0 30px black;

}


#caixaMensagem h1{

font-size:35px;

}


#caixaMensagem p{

font-size:22px;

}


#caixaMensagem button{

background:#173b18;

color:#e8d09b;

font-size:22px;

padding:12px 40px;

border-radius:10px;

}
/* =====================
EXTRA 2 PROFESSOR
===================== */

#extra2{

width:100vw;
height:100vh;

background-image:url("extra2.png");

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

position:relative;

font-family:Georgia,serif;

}


#mensagemExtra2{

position:absolute;

left:300px;
top:160px;

width:600px;

font-size:26px;

color:#2b1b08;

text-align:center;

}


#btnDicaExtra2{

position:absolute;

right:350px;
top:430px;

width:170px;
height:170px;

background:transparent;

border:none;

font-size:0;

cursor:pointer;

}

#btnFinalizarExtra{

position:absolute;

left:950px;
bottom:80px;

width:430px;
height:90px;

background:transparent;

border:none;

font-size:0;

cursor:pointer;

}
/* =========================
 INVESTIGAÇÃO 2 INTRO
========================= */

#investigacao2Intro{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

position:relative;

background-color:black;

overflow:hidden;

z-index:1;

}

#testePrimos{

position:absolute;

left:560px;
top:430px;

width:700px;

font-size:30px;

color:white;

z-index:999999999;

}

.linhaTeste{

display:flex;

gap:35px;

align-items:center;

margin-bottom:25px;

}

.linhaTeste input{

width:140px;
height:40px;

font-size:28px;

text-align:center;

background:#061313;

color:white;

border:2px solid #00dede;

}

.linhaTeste select{

width:130px;
height:45px;

font-size:22px;

background:#061313;

color:white;

}


#confirmarPrimos{

position:absolute;

left:600px;
top:900px;

width:520px;
height:100px;

background:transparent;

border:none;

font-size:0;

color:transparent;

z-index:999999999;

cursor:pointer;

}
#testePrimos input,
#testePrimos select{

position:relative;

z-index:999999999;

}
#ordemInducao{

position:absolute;

left:430px;
top:310px;

display:flex;
flex-direction:column;

gap:67px;

z-index:999999999;

}


#ordemInducao input{

width:65px;
height:65px;

background:transparent;

border:2px solid white;

font-size:40px;
color:white;

text-align:center;

}


#confirmarInducao{

position:absolute;

left:700px;
top:900px;

width:550px;
height:100px;

background:transparent;
border:none;

cursor:pointer;

z-index:999999999;

}
#botaoMissao6,
#botaoMissao7{

position:fixed;

left:0;
top:0;

width:100vw;
height:100vh;

background:red;
opacity:0.3;

border:none;

z-index:2147483647;

cursor:pointer;

}
/* MISSÃO 8 */

#desbloquearSistema{
position:absolute;
left:0;
top:0;
z-index:999999999;
}


#codigoSistema{

position:absolute;

left:620px;
top:700px;

width:500px;
height:60px;

font-size:35px;
text-align:center;

background:transparent;

color:#00ff66;

border:none;
outline:none;

}


#confirmarSistema{

position:absolute;

left:520px;
top:780px;

width:600px;
height:80px;

background:transparent;

border:none;

cursor:pointer;

}
/* TIMER MISSÃO 8 */

#timerMissao8{

display:none;

position:absolute;

right:120px;
top:130px;

font-size:70px;

color:#00ff66;

font-family:monospace;

font-weight:bold;

text-shadow:0 0 20px #00ff66;

z-index:999999999;

}