
*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

margin:0;

width:100vw;
height:100vh;

overflow:hidden;

font-family:Georgia, serif;

background:black;

}


#jogo{

position:relative;

width:1920px;
height:1080px;

transform-origin:top left;

}

/* =====================
TELA INICIAL
===================== */


#telaInicial{

width:100vw;
height:100vh;

background-image:url("capa.png");

background-size:cover;
background-position:center;

position:relative;

}



#botaoNova{

position:absolute;

left:80px;
bottom:120px;


padding:20px 60px;


font-size:28px;

font-weight:bold;

font-family:Georgia, serif;


background:#d4af37;

border:3px solid #8b6508;

border-radius:20px;


box-shadow:0 0 25px black;


cursor:pointer;
z-index:10;

}



#botaoNova:hover{

transform:scale(1.08);

}





/* =====================
CADASTRO
===================== */


#cadastro{

display:none;

width:100vw;
height:100vh;

background-image:url("2.png");

background-size:cover;
background-position:center;


justify-content:center;

align-items:center;

}



#caixaCadastro{


background:rgba(0,0,0,0.8);

padding:50px;

width:650px;


border:3px solid #d4af37;

border-radius:25px;


text-align:center;

}



#caixaCadastro h1{

color:#d4af37;

font-size:40px;

}



#caixaCadastro label{

display:block;

margin-top:30px;


font-size:28px;

color:white;

}



#caixaCadastro input{


width:90%;

height:55px;


font-size:28px;

text-align:center;

border-radius:10px;


}



#caixaCadastro button{


margin-top:35px;

padding:20px 50px;


font-size:25px;

font-weight:bold;


background:#d4af37;

border-radius:15px;


}





/* =====================
MENSAGEM BONITA
===================== */


#mensagem{

display:none;

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);


background:rgba(0,0,0,0.9);


width:600px;

padding:40px;


border:3px solid #d4af37;

border-radius:25px;


text-align:center;

color:white;

}


#mensagem button{


margin-top:30px;

padding:15px 50px;

font-size:25px;

background:#d4af37;

border-radius:15px;


}







/* =====================
HISTÓRIA
===================== */


#historia{

display:none;

width:100vw;

height:100vh;


background-size:cover;

background-position:center;


background-color:black;


/* efeito cinematográfico */
transition:opacity 1.5s ease-in-out;


position:relative;

}

#botaoInvisivel{

display:none;

position:absolute;


bottom:60px;

left:50%;

transform:translateX(-50%);


width:500px;

height:120px;


background:transparent;

border:none;

cursor:pointer;

}







/* =====================
AVISO EQUIPE
===================== */


#avisoEquipe{

display:none;


position:absolute;


top:50%;

left:50%;


transform:translate(-50%,-50%);



background:rgba(20,15,10,0.95);


width:600px;


padding:40px;


border:3px solid #d4af37;


border-radius:25px;



text-align:center;

color:white;


}



#avisoEquipe h1{

color:#ffd66b;

}



#avisoEquipe button{


margin-top:20px;


font-size:25px;


padding:15px 40px;


background:#d4af37;


border-radius:15px;


}







/* =====================
CASO 1
===================== */


#caso1{

width:100vw;

height:100vh;


background-image:url("caso1.png");


background-size:cover;


background-position:center;


position:relative;


}




#botaoAcessar{


position:absolute;


bottom:70px;

left:50%;


transform:translateX(-50%);



width:520px;


height:80px;


background:#d4af37;


border-radius:20px;


font-size:28px;


font-weight:bold;


cursor:pointer;


}






/* =====================
FOLHA DO CASO
===================== */


#folha1{


width:100vw;

height:100vh;


background-image:url("folha1.png");


background-size:cover;


background-position:center;


position:relative;


}






/* BOTÕES DAS EVIDÊNCIAS */


#menuDicas{


position:absolute;


left:40px;


top:140px;


display:flex;


flex-direction:column;


gap:12px;


}




#menuDicas button{


width:60px;

height:60px;


border-radius:50%;


background:#d4af37;


font-size:28px;


font-weight:bold;


cursor:pointer;


}







/* LISTA DAS DICAS NA FOLHA */


/* ÁREA DAS EVIDÊNCIAS */

#folhaPistas{

position:absolute;

top:60px;

left:63%;

transform:translateX(-50%);


width:620px;

height:480px;


padding:25px;


font-family:"Georgia",serif;

color:#2b1600;

}



#folhaPistas h2{


text-align:center;


font-size:34px;


color:#6b0000;


text-shadow:1px 1px #d4af37;


margin-bottom:25px;


}



#listaDicas{


font-size:22px;


line-height:1.3;


}



#listaDicas li{


margin-bottom:8px;


}





/* RESPOSTA */


#areaResposta{

position:absolute;


bottom:45px;

left:63%;

transform:translateX(-50%);


text-align:center;


}



#areaResposta input{


width:400px;

height:50px;


font-size:26px;


text-align:center;

border-radius:10px;


}



#areaResposta button{


height:55px;


padding:0 35px;


font-size:22px;


font-weight:bold;


background:#d4af37;


border-radius:12px;


cursor:pointer;


}




#pontuacao{

font-size:28px;

color:#2b1600;

font-weight:bold;




}
#janelaJogo{


position:absolute;


top:50%;
left:50%;


transform:translate(-50%,-50%);



width:600px;


padding:40px;



background:rgba(0,0,0,0.95);


border:4px solid #d4af37;


border-radius:25px;



text-align:center;


color:white;



box-shadow:0 0 40px black;


}



#janelaJogo h1{


color:#ffd84d;


font-size:35px;


}



#janelaJogo p{


font-size:25px;


margin:25px;


}



#janelaJogo button{


padding:15px 45px;


font-size:22px;


font-weight:bold;


background:#d4af37;


border-radius:15px;


cursor:pointer;


}
.imagemDica{


width:250px;


display:block;


margin:15px auto;


border-radius:10px;


}
/* =====================
CASO BASE
===================== */


#casoBase{

width:100vw;
height:100vh;

background-image:url("casobase1.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}



/* pergunta no canto inferior esquerdo */

#validarBase{


position:absolute;


/* ajuste fino aqui */
left:600px;
bottom:250px;


text-align:center;


background:rgba(0,0,0,0.75);


padding:20px 35px;


border:3px solid #d4af37;

border-radius:20px;


}



#validarBase h2{

color:#ffd84d;

font-size:26px;

margin-bottom:15px;


}



#validarBase button{


width:130px;

height:50px;


margin:10px;


font-size:22px;

font-weight:bold;


background:#d4af37;

border-radius:15px;


cursor:pointer;


}
/* ===========================
PASSO INDUTIVO
=========================== */


#passoIndutivo{

width:100vw;
height:100vh;

background-image:url("passoindutivo1.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


/* botões */

#botoesInducao{

position:absolute;

/* ajuste aqui */
left:500px;
bottom:60px;

display:flex;
gap:30px;

}


#botoesInducao button{

background:#d4af37;

padding:18px 35px;

font-size:22px;

font-weight:bold;

border-radius:15px;

cursor:pointer;

}


/* caixa da dica */

#dicaInducao{

display:none;

position:absolute;

left:330px;
top:610px;

width:520px;

background:rgba(0,0,0,0.90);

border:3px solid #d4af37;

border-radius:20px;

padding:25px;

color:white;

font-size:22px;

text-align:center;

box-shadow:0 0 25px black;

}
#fimCaso{

width:100vw;
height:100vh;

background:black;

display:flex;

justify-content:center;
align-items:center;

gap:40px;

}


#fimCaso button,
#abrirCaso2{

background:#d8bd35;

padding:25px 60px;

border-radius:15px;

font-size:25px;

font-weight:bold;

cursor:pointer;

}



/* CASO 2 */

#caso2{

width:100vw;
height:100vh;

background-image:url("caso2.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#abrirCaso2{

position:absolute;

bottom:70px;

left:50%;

transform:translateX(-50%);

}



/* FOLHA 2 */


#folha2{

width:100vw;
height:100vh;

background-image:url("folha2.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

}
#areaDicas2{

position:absolute;

left:850px;
top:170px;

transform:none;

width:650px;

font-size:20px;

color:black;

}

#menuDicas2{

position:absolute;

left:80px;
top:250px;

display:flex;

flex-direction:column;

gap:10px;

}

#menuDicas2 button{

width:60px;
height:60px;

border-radius:50%;

background:#d8bd35;

border:3px solid #5b3b16;

font-size:25px;

font-weight:bold;

cursor:pointer;

box-shadow:0 0 15px black;

}


#areaDicas2 h1{

color:#6b0000;

font-size:30px;

text-align:center;

}


#resposta2{

position:absolute;

left:300px;
bottom:100px;

width:500px;
height:55px;

font-size:28px;

text-align:center;

}


#investigar2{

position:absolute;

left:850px;
bottom:100px;

height:60px;

padding:0 40px;

background:#d8bd35;

font-size:25px;

font-weight:bold;

border-radius:15px;

}


#pontuacao2{

position:absolute;

bottom:25px;
left:500px;

color:white;

}
/* ======================
   CASO BASE 2
====================== */


#casoBase2{

width:100vw;
height:100vh;

background-image:url("casobase2.png");

background-size:contain;

background-position:center;

background-repeat:no-repeat;

background-color:black;

position:relative;

}
#perguntaCasoBase2{

position:absolute;

left:500px;
bottom:200px;

background:rgba(0,0,0,.85);

border:3px solid #d4af37;

border-radius:20px;

padding:25px;

color:#ffd700;

font-size:22px;

text-align:center;

}
#perguntaCasoBase2 button{

background:#d8bd35;

padding:12px 40px;

margin:10px;

border-radius:12px;

font-size:20px;

font-weight:bold;

cursor:pointer;

}
#passoIndutivo2{

width:100vw;
height:100vh;

background-image:url("passoindutivo2.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#botoesInducao2{

position:absolute;

bottom:40px;
left:50%;

transform:translateX(-50%);

display:flex;
gap:40px;

}


#botoesInducao2 button{

background:#d8bd35;

padding:20px 50px;

border-radius:15px;

font-size:22px;

font-weight:bold;

}
/* CASO 3 */

#caso3{

width:100vw;
height:100vh;

background-image:url("caso3.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}



#folha3{

width:100vw;
height:100vh;

background-image:url("folha3.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}



#menuDicas3{

position:absolute;

left:80px;
top:150px;

display:flex;
flex-direction:column;

gap:10px;

}



#menuDicas3 button{

width:50px;
height:50px;

border-radius:50%;

background:#d8bd35;

font-size:22px;

font-weight:bold;

}



#areaDicas3{

position:absolute;

left:420px;
top:80px;

width:650px;

font-size:25px;

}


#resposta3{

position:absolute;

bottom:90px;
left:280px;

width:500px;
height:55px;

font-size:25px;

text-align:center;

}



#investigar3{

position:absolute;

bottom:90px;
left:850px;

height:60px;

padding:0 40px;

background:#d8bd35;

font-size:25px;

border-radius:15px;

}



#casoBase3{

width:100vw;
height:100vh;

background-image:url("casobase3.png");

background-size:contain;

background-position:center;

background-repeat:no-repeat;

background-color:black;

position:relative;

}



#registroCaso3{

position:absolute;

right:150px;
top:100px;

width:500px;

font-size:24px;

color:black;

}



#botoesInducao3{

position:absolute;

bottom:50px;
left:350px;

}


#botoesInducao3 button{

background:#d8bd35;

font-size:25px;

padding:25px 60px;

border-radius:15px;

}
/* ======================
   PISTA SECRETA BONUS
====================== */


#bonus,
#bonus4{

width:100vw;
height:100vh;

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#bonus4{

background-image:url("bonus4.png");

}
/* ======================
   EFEITO VIDEO BONUS
====================== */

.fadeBonus{

animation: aparecerBonus 1s;

}


@keyframes aparecerBonus{

from{
opacity:0;
}

to{
opacity:1;
}

}
/* =========================
   TELA BONUS
========================= */


#bonus,
#bonus4{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

z-index:50;

}



/* =========================
   BOTÕES BONUS
   (AJUSTAR POSIÇÃO AQUI)
========================= */


#botoesBonus{

position:absolute;

bottom:120px;   /* sobe e desce */

left:50%;

transform:translateX(-50%);


display:flex;

flex-direction:column;

gap:30px;


z-index:100;

}



/* ============================
 BOTÕES INVISÍVEIS BONUS
============================ */


#botoesBonus button{


width:450px;

height:90px;


background:transparent;


color:transparent;


border:none;


cursor:pointer;


}

/* =========================
   BONUS 4 - PISTA ACHADA
========================= */


#bonus4{


width:100vw;

height:100vh;


background-image:url("bonus4.png");


background-size:contain;

background-repeat:no-repeat;

background-position:center;


background-color:black;


position:relative;


cursor:pointer;


}



/* =========================
   BONUS 5
========================= */


#bonus5{

width:100vw;
height:100vh;

background-image:url("bonus5.png");

background-size:cover;
background-position:center;

position:relative;

}


/* =========================
   POSIÇÃO DAS PERGUNTAS
   mexer aqui se precisar
========================= */


#perguntasBonus{

position:absolute;


/* AJUSTAR AQUI */

right:190px;   /* esquerda e direita */
top:100px;     /* altura */


/* ================= */

width:430px;

font-size:15px;

font-weight:bold;

}

/* CADA PERGUNTA */


.questaoBonus{

margin-bottom:25px;

}


.questaoBonus h2{

font-size:24px;

margin-bottom:5px;

}


.questaoBonus p{

font-size:17px;

margin:5px;

}



/* BOTÕES DAS RESPOSTAS */


.questaoBonus button{


display:block;

width:400px;

height:40px;

margin:7px;


background:#b88a18;   /* amarelo velho */


border:3px solid #3b2600;

border-radius:8px;


font-size:15px;

font-weight:bold;


cursor:pointer;


}


/* RESPOSTA CERTA OU ERRADA */


.retorno{

font-size:15px;

font-weight:bold;

}


/* =========================
 BOTÕES FINAIS DO BONUS
========================= */


#finalBonus{

position:absolute;


/* AJUSTAR POSIÇÃO FINAL */

bottom:55px;

right:520px;


/* ====================== */

display:none;

}


#finalBonus button{

width:260px;

height:55px;


margin:8px;


background:#b88a18;

border:3px solid #3b2600;

border-radius:10px;


font-size:17px;

font-weight:bold;


cursor:pointer;

}
/* =========================
   RELATÓRIOS CASO 1
========================= */

#relatorio1a,
#relatorio1b,
#relatorio2{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

position:absolute;
top:0;
left:0;

z-index:9999;

cursor:pointer;

}


#relatorio1a{

background-image:url("relatorio1a.png");

}


#relatorio1b{

background-image:url("relatorio1b.png");

}
#relatorio2{

background-image:url("relatorio2.png");

}
/* =========================
   VÍDEO HISTÓRIA
========================= */

#videoHistoria{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

position:absolute;

top:0;
left:0;

z-index:9999;

opacity:1;

}
/* =========================
   SENHA FINAL
========================= */

#areaSenhaFinal{

position:absolute;

bottom:320pxpx;   /* sobe a caixa */
left:55%;

transform:translateX(-50%);

text-align:center;

}


#senhaFinal{

width:390px;
height:50px;

background:transparent;

border:3px solid #b88a18;

border-radius:10px;

font-size:35px;

text-align:center;

color:#d8bd35;

}


#areaSenhaFinal button{

margin-top:10px;

width:260px;
height:45px;

background:#b88a18;

font-size:22px;

font-weight:bold;

border-radius:12px;

cursor:pointer;

}


#erroSenhaFinal{

color:#d8bd35;

font-size:25px;

margin-top:10px;

}



/* POLIGONOS E FALHA */


#poligonos,
#falhou1{

width:100vw;
height:100vh;

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

}


#poligonos{

background-image:url("poligonos.png");

}


#falhou1{

background-image:url("falhou1.png");

cursor:pointer;

}
/* =========================
   BOTÕES POLÍGONOS
========================= */


#botoesPoligonos{

position:absolute;

bottom:200px;
left:50%;

transform:translateX(-50%);

display:flex;

gap:15px;

}


#botoesPoligonos button{


width:145px;
height:130px;

background:transparent;

border:none;

cursor:pointer;


}




#falhou2,
#videoRevelacao,
#fimJogo{


width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

}



#falhou2{

background-image:url("falhou2.png");

cursor:pointer;

}



#videoRevelacao{

cursor:pointer;

}



#fimJogo{

background-image:url("fim.png");

position:relative;

}



#nomeEquipeFinal{

position:absolute;

left:960px;
top:560px;

width:720px;

text-align:center;

font-size:42px;

font-weight:bold;

color:#d6bd32;

}

#pontuacaoEquipeFinal{

position:absolute;

left:960px;
top:725px;

width:720px;

text-align:center;

font-size:42px;

font-weight:bold;

color:#d6bd32;

}
#fimJogo{

background-image:url("fim.png");

position:relative;

cursor:pointer;

}
/* =====================
TELA DAS INVESTIGAÇÕES
===================== */

#telaInvestigacoes{

width:100vw;
height:100vh;

background-image:url("tela1.png");

background-size:cover;
background-position:center;

position:relative;

}


/* todos os botões invisíveis */

#telaInvestigacoes button{

position:absolute;

background:transparent;

border:none;

cursor:pointer;

}


/* INVESTIGAÇÃO 1 */

#btnInv1{

left:50px;
top:300px;

width:300px;
height:300px;

}


/* INVESTIGAÇÃO 2 */

#btnInv2{

left:550px;
top:300px;

width:300px;
height:300px;

}


/* INVESTIGAÇÃO 3 */

#btnInv3{

left:1000px;
top:300px;

width:300px;
height:300px;

}


/* INVESTIGAÇÃO 4 */

#btnInv4{

position:absolute;

left:1450px;
top:300px;

width:300px;
height:280px;

background:transparent;

border:none;

cursor:pointer;

}

/* MODO PROFESSOR */

#btnProfessor{

left:630px;
bottom:150px;

width:520px;
height:100px;

}

/* =========================
MODO CRIAÇÃO PROFESSOR
========================= */

#modoCriacao{

display:none;

width:100vw;
height:100vh;

background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("tela1.png");

background-size:cover;
background-position:center;

overflow-y:auto;

font-family:Georgia,serif;

text-align:center;

padding:30px;

box-sizing:border-box;

}


#modoCriacao h1{

color:#e8d09b;
font-size:38px;

}


#modoCriacao h2{

color:#e8d09b;

}


/* textos */

#modoCriacao label{

display:block;

color:white;

font-size:18px;

margin-top:10px;

}


/* campos */

#modoCriacao input,
#modoCriacao textarea{

width:55%;

background:#e5d0a0;

border:3px solid #5b3b16;

border-radius:8px;

font-size:17px;

padding:8px;

font-family:Georgia,serif;

}


/* pistas menores */

#pista1,#pista2,#pista3,#pista4,#pista5,
#pista6,#pista7,#pista8,#pista9,#pista10{

height:25px;

}


/* caixas grandes */

#novasRespostas,
#mensagemFinal,
#dicaIndutiva{

height:60px;

}


/* botão salvar bonito */

#modoCriacao button{

display:block;

margin:25px auto 60px auto;

font-size:24px;

padding:15px 50px;

background:#173b18;

color:#e8d09b;

border:3px solid #b68b32;

border-radius:12px;

cursor:pointer;

}


#modoCriacao button:hover{

transform:scale(1.05);

}
/* =====================
EXTRA PROFESSOR 1
===================== */

#extra1{

width:100vw;
height:100vh;

background-image:url("extra1.png");

background-size:contain;
background-position:center;
background-repeat:no-repeat;

background-color:black;

position:relative;

}


#menuExtra{

position:absolute;

left:570px;
top:190px;

display:grid;

grid-template-columns:repeat(2,55px);

gap:14px;

}
#menuExtra button{

width:45px;
height:45px;

border-radius:50%;

background:#d4af37;

border:2px solid #5b3b16;

font-size:18px;

font-weight:bold;

font-family:Georgia,serif;

cursor:pointer;

box-shadow:2px 2px 5px #000;

}
#areaExtra{

position:absolute;

left:930px;
top:210px;

width:550px;

font-size:18px;

font-family:Georgia,serif;

color:#2b1b08;

}


#areaExtra h2{

font-size:28px;

text-align:center;

margin-bottom:25px;

}

#listaExtra{

margin-left:150px;

font-size:20px;

line-height:1.8;

}#respostaExtraArea{

position:absolute;

bottom:60px;

left:50%;

transform:translateX(-50%);

text-align:center;

}


#respostaExtraArea input{

width:450px;
height:50px;

font-size:25px;

text-align:center;

}


#respostaExtraArea button{

height:55px;

font-size:22px;

background:#d4af37;

}
#pontosExtra{

position:absolute;

right:220px;
bottom:170px;

font-size:26px;

color:#2b1b08;

}
/* =====================
MENSAGEM INVESTIGAÇÃO
===================== */

#mensagemJogo{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.7);

z-index:999;

}


#caixaMensagem{

width:500px;

background:#d8bd7a;

border:5px solid #4b2d0b;

border-radius:15px;

padding:30px;

text-align:center;

font-family:Georgia,serif;

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

box-shadow:0 0 30px black;

}


#caixaMensagem h1{

font-size:35px;

}


#caixaMensagem p{

font-size:22px;

}


#caixaMensagem button{

background:#173b18;

color:#e8d09b;

font-size:22px;

padding:12px 40px;

border-radius:10px;

}
/* =====================
EXTRA 2 PROFESSOR
===================== */

#extra2{

width:100vw;
height:100vh;

background-image:url("extra2.png");

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

position:relative;

font-family:Georgia,serif;

}


#mensagemExtra2{

position:absolute;

left:300px;
top:160px;

width:600px;

font-size:26px;

color:#2b1b08;

text-align:center;

}


#btnDicaExtra2{

position:absolute;

right:350px;
top:430px;

width:170px;
height:170px;

background:transparent;

border:none;

font-size:0;

cursor:pointer;

}

#btnFinalizarExtra{

position:absolute;

left:950px;
bottom:80px;

width:430px;
height:90px;

background:transparent;

border:none;

font-size:0;

cursor:pointer;

}
/* =========================
 INVESTIGAÇÃO 2 INTRO
========================= */

#investigacao2Intro{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

position:relative;

background-color:black;

overflow:hidden;

z-index:1;

}

#testePrimos{

position:absolute;

left:560px;
top:430px;

width:700px;

font-size:30px;

color:white;

z-index:999999999;

}

.linhaTeste{

display:flex;

gap:35px;

align-items:center;

margin-bottom:25px;

}

.linhaTeste input{

width:140px;
height:40px;

font-size:28px;

text-align:center;

background:#061313;

color:white;

border:2px solid #00dede;

}

.linhaTeste select{

width:130px;
height:45px;

font-size:22px;

background:#061313;

color:white;

}


#confirmarPrimos{

position:absolute;

left:640px;

top:790px;

width:520px;
height:100px;

background:transparent;

border:none;

font-size:0;

color:transparent;

z-index:999999999;

cursor:pointer;

}
#testePrimos input,
#testePrimos select{

position:relative;

z-index:999999999;

}
#ordemInducao{

position:absolute;

left:430px;
top:320px;

display:flex;
flex-direction:column;

gap:67px;

z-index:999999999;

}

#ordemInducao input{

width:85px;
height:85px;

background:transparent;

border:3px solid white;

border-radius:8px;

font-size:52px;
font-weight:bold;

color:white;

text-align:center;

}


#confirmarInducao{

position:absolute;

left:700px;
top:960px;

width:550px;
height:100px;

background:transparent;
border:none;

cursor:pointer;

z-index:999999999;

}
#botaoMissao6,
#botaoMissao7{

position:fixed;

left:0;
top:0;

width:100vw;
height:100vh;

background:transparent;

border:none;

z-index:20;

cursor:pointer;

}/* MISSÃO 8 */

#desbloquearSistema{
position:absolute;
left:0;
top:0;
z-index:999999999;
}


#codigoSistema{

position:absolute;

left:620px;
top:750px;

width:500px;
height:60px;

font-size:35px;
text-align:center;

background:transparent;

color:#00ff66;

border:none;
outline:none;

}


#confirmarSistema{

position:absolute;

left:520px;
top:830px;

width:600px;
height:80px;

background:transparent;

border:none;

cursor:pointer;

}
/* TIMER MISSÃO 8 */

#timerMissao8{

display:none;

position:absolute;

right:120px;
top:130px;

font-size:70px;

color:#00ff66;

font-family:monospace;

font-weight:bold;

text-shadow:0 0 20px #00ff66;

z-index:999999999;

}
/* =========================
   CARTAS INVESTIGAÇÃO 3
========================= */

#carta1,
#carta2,
#carta3{

width:100vw;
height:100vh;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

background-color:black;

cursor:pointer;

}


#carta1{

background-image:url("carta1.png");

}


#carta2{

background-image:url("carta2.png");

}


#carta3{

background-image:url("carta3.png");

}

/* =====================
   MISSÃO 9
===================== */

#missao9Teste{

position:absolute;

left:50%;
top:64%;

transform:translate(-50%,-50%);

width:930px;

background:rgba(0,0,0,.75);

border:3px solid #00ffff;

border-radius:20px;

padding:40px 45px;

color:white;

text-align:center;

z-index:50;

}

.testeLinha{

display:flex;

justify-content:center;
align-items:center;

gap:28px;

font-size:34px;

margin:42px 0;

}

.testeLinha input{

width:170px;
height:55px;

font-size:34px;

text-align:center;

}

.testeLinha button{

font-size:26px;

padding:12px 28px;

}

#prosseguirMissao9{

position:relative;

font-size:28px;

padding:18px 45px;

margin-top:35px;

}

/* GARANTIR TELA INICIAL CLICÁVEL */

#telaInicial{

position:relative;

z-index:1000;

}


#botaoNova{

z-index:2000;

pointer-events:auto;

}
#missao10Teste{

position:absolute;

left:430px;
top:570px;

width:1200px;

display:flex;

gap:30px;

z-index:999999999;

}

.pergunta10{

width:330px;

padding:15px;

color:#00ffff;

font-size:18px;

}

.pergunta10 h3{

font-size:22px;

}


.pergunta10 label{

display:block;

margin-top:18px;

}


#encerrarMissao10{

position:absolute;

left:100px;
top:325px;

width:760px;
height:115px;

background:transparent;
border:none;

cursor:pointer;

font-size:28px;

z-index:100;

}.selecionado{

background:#00ff66 !important;

color:black !important;

border:3px solid white !important;

box-shadow:0 0 20px #00ff66;

}
.testeLinha span{

color:white;

font-size:30px;

font-weight:bold;

}

.testeLinha input{

display:inline-block;

width:150px;

height:45px;

font-size:28px;

text-align:center;

}
/* =========================
   MISSÃO 12 - REANÁLISE
========================= */

#missao12Perguntas{

position:absolute;

left:380px;
top:305px;

width:1120px;
height:560px;

display:grid;

grid-template-columns:540px 540px;

grid-auto-rows:210px;

justify-content:center;
align-content:start;

gap:18px 25px;

z-index:999;

color:#2b1600;

font-family:Georgia,serif;

}

.pergunta12{

background:rgba(255,248,235,.60);

border:2px solid rgba(90,50,20,.35);

border-radius:14px;

padding:14px 18px;

font-size:20px;

box-shadow:0 0 8px rgba(0,0,0,.15);

overflow:hidden;

}

.pergunta12 h3{

font-size:24px;

color:#7b1e12;

margin-bottom:12px;

}

.pergunta12 label{

display:block;

margin:10px 0;

line-height:1.2;

cursor:pointer;

}

.pergunta12 input{

transform:scale(1.4);

margin-right:10px;

}

#concluirMissao12{

position:absolute;

left:420px;
bottom:20px;

width:420px;
height:70px;

background:#9b2d1f;

color:white;

border:3px solid #5b160f;

border-radius:18px;

font-size:27px;

font-weight:bold;

font-family:Georgia,serif;

cursor:pointer;

box-shadow:0 0 18px rgba(0,0,0,0.45);

}

#concluirMissao12:hover{

transform:scale(1.04);

}
/* =========================
   MISSÃO 14 - PROVA DO PADRÃO
========================= */

#missao14Perguntas{

position:absolute;

left:190px;
top:365px;

width:1500px;
height:630px;

display:grid;
grid-template-columns:1fr 1fr;
gap:18px 35px;

z-index:100;

font-family:Georgia,serif;
color:#0b3015;

}

.questao14{

background:rgba(255,255,245,0.78);

border:2px solid rgba(20,90,35,0.35);

border-radius:15px;

padding:15px 20px;

font-size:21px;

box-shadow:0 0 8px rgba(0,0,0,0.15);

}

.questao14 h3{

font-size:23px;

color:#0f4a21;

margin-bottom:10px;

}

.questao14 label{

display:block;

margin:8px 0;

line-height:1.2;

cursor:pointer;

}

.questao14 input{

transform:scale(1.35);

margin-right:10px;

}

#validarMissao14{

position:absolute;

left:530px;
bottom:-43px;

width:450px;
height:65px;

background:#0f4a21;

color:white;

border:3px solid #082b12;

border-radius:18px;

font-size:27px;

font-weight:bold;

font-family:Georgia,serif;

cursor:pointer;

box-shadow:0 0 15px rgba(0,80,20,0.55);

}

#validarMissao14:hover{

transform:scale(1.04);

}
#resultadoMissao17{

position:absolute;

left:560px;
top:330px;

width:760px;
height:300px;

z-index:200;

text-align:center;

font-family:Georgia,serif;

color:#9cff5a;

text-shadow:0 0 12px #4cff00;

}

#resultadoMissao17 h1{

font-size:58px;

margin-bottom:25px;

}

#resultadoMissao17 h2{

font-size:42px;

margin-bottom:20px;

}

#resultadoMissao17 h3{

font-size:36px;

margin-bottom:35px;

}

#resultadoMissao17 button{

width:360px;
height:70px;

font-size:30px;

font-weight:bold;

background:#1f3d14;

color:#9cff5a;

border:3px solid #9cff5a;

border-radius:15px;

cursor:pointer;

box-shadow:0 0 20px #4cff00;

}
/* =========================
   INVESTIGAÇÃO 3 - CARTAS E SALA
========================= */

#carta1,
#carta2,
#carta3,
#carta4,
#salaPistas{

width:100vw;
height:100vh;

background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:relative;

cursor:pointer;

}

#carta1{
background-image:url("carta1.png");
}

#carta2{
background-image:url("carta2.png");
}

#carta3{
background-image:url("carta3.png");
}

#carta4{
background-image:url("carta4.png");
}

#salaPistas{
background-image:url("pista.png");
cursor:default;
}
/* =========================
   INVESTIGAÇÃO 3 - PISTAS VISUAIS
========================= */

#pistaVisual{

width:100vw;
height:100vh;

background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:relative;

cursor:pointer;

z-index:300;

}

#botoesSalaPistas button{

position:absolute;

background:rgba(255,0,0,0); /* temporariamente pode trocar para rgba(255,0,0,.35) */
border:none;

cursor:pointer;

z-index:250;

}

/* 1 - QUADRO */
#btnPista1{

left:400px;
top:95px;

width:210px;
height:120px;

}

/* 2 - PAPEL AMASSADO NO CHÃO */
#btnPista2{

left:850px;
top:820px;

width:230px;
height:110px;

}

/* 3 - LIVRO ABERTO NA MESA */
#btnPista3{

left:150px;
top:680px;

width:220px;
height:110px;

}

/* 6 - ANOTAÇÕES ABAIXO DO ABAJUR */
#btnPista6{

left:300px;
top:520px;

width:300px;
height:120px;

}

/* 8 - FOTOS E ANOTAÇÕES */
#btnPista8{

left:1030px;
top:190px;

width:210px;
height:140px;

}

/* 9 - FOTO NO CHÃO */
#btnPista9{

left:1580px;
top:870px;

width:230px;
height:120px;

}
/* =========================
   INVESTIGAÇÃO 3 - PISTA 5
========================= */

#pista5Tela,
#pista55Tela{

width:100vw;
height:100vh;

background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:relative;

}

#pista5Tela{
background-image:url("pista5.png");
}

#pista55Tela{
background-image:url("pista55.png");
cursor:pointer;
}

#codigoGaveta1,
#codigoGaveta2,
#codigoGaveta3,
#codigoGaveta4{

position:absolute;

top:495px;          /* sobe um pouquinho */

width:185px;        /* antes 165 */
height:200px;       /* antes 175 */

background:rgba(0,0,0,0.65);

border:3px solid #d4af37;
border-radius:18px;

font-size:82px;

font-weight:bold;
color:#f5d76e;
text-align:center;

z-index:400;

}

#codigoGaveta1{ left:455px; }

#codigoGaveta2{ left:730px; }

#codigoGaveta3{ left:1005px; }

#codigoGaveta4{ left:1280px; }

#confirmarGaveta{

position:absolute;

left:770px;
top:760px;

width:180px;
height:70px;

background:#5b3b17;

color:#f5d76e;

border:3px solid #d4af37;

border-radius:15px;

font-size:30px;
font-weight:bold;

cursor:pointer;

z-index:420;

transition:0.2s;

}

#confirmarGaveta:hover{

background:#745020;

transform:scale(1.05);

}

#voltarGaveta{

position:absolute;

left:80px;
bottom:70px;

width:220px;
height:65px;

background:#3b2a16;

color:#f5d76e;

border:3px solid #d4af37;

border-radius:15px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:430;

}

#dicaGaveta{

position:absolute;

right:80px;
bottom:70px;

width:220px;
height:65px;

background:#3b2a16;

color:#f5d76e;

border:3px solid #d4af37;

border-radius:15px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:430;

}
/* 5 - GAVETA TRANCADA */
#btnPista5{

position:absolute;

left:1300px;
top:520px;

width:220px;
height:130px;

background:rgba(255,0,0,.35);
border:2px solid red;

cursor:pointer;

z-index:999999;

}
/* =========================
   INVESTIGAÇÃO 3 - PISTA 7
========================= */

#pista7Tela,
#pista77Tela,
#pista777Tela{

width:100vw;
height:100vh;

background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:relative;

}

#pista7Tela{
background-image:url("pista7.png");
cursor:pointer;
}

#pista77Tela{
background-image:url("pista77.png");
}

#pista777Tela{
background-image:url("pista777.png");
cursor:pointer;
}

#codigoCofre{

position:absolute;

left:760px;
top:470px;

width:390px;
height:150px;

background:rgba(0,0,0,0.75);

border:3px solid #d4af37;
border-radius:18px;

font-size:90px;
font-weight:bold;

color:#f5d76e;

text-align:center;

z-index:500;

}

#confirmarCofre{

position:absolute;

left:870px;
top:700px;

width:180px;
height:70px;

background:#5b3b17;

color:#f5d76e;

border:3px solid #d4af37;

border-radius:15px;

font-size:30px;
font-weight:bold;

cursor:pointer;

z-index:520;

transition:0.2s;

}

#confirmarCofre:hover{

background:#745020;

transform:scale(1.05);

}

#voltarCofre{

position:absolute;

left:80px;
bottom:70px;

width:220px;
height:65px;

background:#3b2a16;

color:#f5d76e;

border:3px solid #d4af37;
border-radius:15px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:530;

}

#dicaCofre{

position:absolute;

right:80px;
bottom:70px;

width:220px;
height:65px;

background:#3b2a16;

color:#f5d76e;

border:3px solid #d4af37;
border-radius:15px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:530;

}

/* 7 - COFRE NA PAREDE */
#btnPista7{

position:absolute;

left:1390px;
top:210px;

width:250px;
height:180px;

background:transparent;
border:none;

cursor:pointer;

z-index:999999;

}
/* =========================
   INVESTIGAÇÃO 3 - PISTA 4
========================= */

#pista4Tela,
#pista44Tela,
#pista444Tela,
#fibonacci1Tela,
#fibonacci2Tela,
#fibonacci3Tela,
#final1Tela,
#final2Tela,
#final3Tela,
#final4Tela,
#final5Tela{

width:100vw;
height:100vh;

background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:relative;

}

#pista4Tela{
background-image:url("pista4.png");
}

#pista44Tela{
background-image:url("pista44.png");
cursor:pointer;
}

#pista444Tela{
background-image:url("pista444.png");
cursor:pointer;
}

#fibonacci1Tela{
background-image:url("fibonacci.png");
cursor:pointer;
}

#fibonacci2Tela{
background-image:url("fibonacci2.png");
}

#fibonacci3Tela{
background-image:url("fibonacci3.png");
}

#final1Tela{
background-image:url("final1.png");
cursor:pointer;
}

#final2Tela{
background-image:url("final2.png");
cursor:pointer;
}

#final3Tela{
background-image:url("final3.png");
cursor:pointer;
}

#final4Tela{
background-image:url("final4.png");
cursor:pointer;
}

#final5Tela{
background-image:url("final5.png");
}

/* botão computador na sala */
#btnPista4{

position:absolute;

left:920px;
top:505px;

width:220px;
height:140px;

background:transparent;
border:none;

cursor:pointer;

z-index:999999;

}

/* código rastreador */
#codigoRastreador{

position:absolute;

left:690px;
top:515px;

width:520px;
height:80px;

background:rgba(0,0,0,.75);

border:3px solid #00ff66;
border-radius:15px;

font-size:50px;
font-weight:bold;

color:#00ff66;

text-align:center;

z-index:500;

text-transform:uppercase;

}

#confirmarRastreador{

position:absolute;

left:860px;
top:630px;

width:180px;
height:70px;

background:#5b3b17;

color:#f5d76e;

border:3px solid #d4af37;

border-radius:15px;

font-size:30px;
font-weight:bold;

cursor:pointer;

z-index:520;

transition:0.2s;

}

#confirmarRastreador:hover{

background:#745020;

transform:scale(1.05);

}
#voltarRastreador{

position:absolute;

left:80px;
bottom:70px;

width:220px;
height:65px;

background:#111;

color:#00ff66;

border:3px solid #00ff66;
border-radius:15px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:530;

}

/* fibonacci 2 */

#perguntasFibonacci2{

position:absolute;

right:120px;
top:120px;

width:600px;

color:#00ff66;

font-family:Georgia,serif;

font-size:24px;

z-index:600;

}

#perguntasFibonacci2 h2{

font-size:28px;

margin:25px 0 15px 0;

}

#fibOrdem{

width:520px;
height:60px;

font-size:32px;

text-align:center;

background:rgba(0,0,0,.75);

border:3px solid #00ff66;
border-radius:12px;

color:#00ff66;

}

#perguntasFibonacci2 label{

display:block;

font-size:26px;

margin:15px 0;

}

#validarFibonacci2{

margin-top:30px;

width:420px;
height:70px;

background:#0f4a21;

color:white;

border:3px solid #00ff66;
border-radius:18px;

font-size:26px;
font-weight:bold;

cursor:pointer;

}

/* fibonacci 3 */

#numeroForaPadrao{

position:absolute;

left:640px;
top:430px;

width:520px;
height:85px;

background:rgba(0,0,0,.75);

border:3px solid #00ff66;
border-radius:15px;

font-size:55px;
font-weight:bold;

color:#00ff66;

text-align:center;

z-index:600;

}

#validarFibonacci3{

position:absolute;

left:670px;
top:550px;

width:460px;
height:75px;

background:#0f4a21;

color:white;

border:3px solid #00ff66;
border-radius:18px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:610;

}

#dicaFibonacci3{

position:absolute;

right:80px;
bottom:70px;

width:220px;
height:65px;

background:#111;

color:#00ff66;

border:3px solid #00ff66;
border-radius:15px;

font-size:26px;
font-weight:bold;

cursor:pointer;

z-index:620;

}

/* final estrelas */

#resultadoEstrelas{

position:absolute;

left:50%;
top:430px;

transform:translateX(-50%);

width:900px;

text-align:center;

font-size:48px;
font-weight:bold;

color:#d4af37;

line-height:1.8;

text-shadow:0 0 15px black;

}

#voltarFinalInvestigacoes{

position:absolute;

left:50%;
bottom:90px;

transform:translateX(-50%);

width:420px;
height:75px;

background:#d4af37;

border:3px solid #5b3b16;
border-radius:18px;

font-size:26px;
font-weight:bold;

cursor:pointer;

}
#textoRastreador{

position:absolute;

left:50%;
top:120px;

transform:translateX(-50%);

width:900px;

text-align:center;

color:#00ff66;

font-family:Arial;

z-index:9999;

text-shadow:0 0 10px #00ff66;

}

#textoRastreador h1{

font-size:46px;
margin-bottom:20px;

}

#textoRastreador p{

font-size:28px;
line-height:1.5;
margin:8px 0;

}
#perguntasFibonacci3{
position:absolute;

left:70px;
top:55px;

width:900px;

color:#00ff66;
font-family:Georgia,serif;

z-index:600;
}

#perguntasFibonacci3 h2{
font-size:31px;
margin:14px 0 12px 0;
line-height:1.15;
}

#perguntasFibonacci3 label{
display:block;

font-size:27px;

margin:10px 0;
line-height:1.15;
}

#numeroForaPadrao{
position:absolute;

left:70px;
top:590px;

width:260px;
height:58px;

background:rgba(0,0,0,.75);

border:3px solid #00ff66;
border-radius:12px;

color:#00ff66;

font-size:36px;
font-weight:bold;

text-align:center;

z-index:650;
}

#validarFibonacci3{
position:absolute;

left:760px;
top:720px;

width:460px;
height:70px;

background:#0f4a21;

color:white;

border:3px solid #00ff66;
border-radius:18px;

font-size:25px;
font-weight:bold;

cursor:pointer;

z-index:650;
}

#verMapaFibonacci{
position:absolute;

left:1330px;
top:470px;

width:210px;
height:65px;

background:#111;

color:#00ff66;

border:3px solid #00ff66;
border-radius:15px;

font-size:24px;
font-weight:bold;

cursor:pointer;

z-index:650;
}

#dicaFibonacci3{
position:absolute;

left:1330px;
top:570px;

width:210px;
height:65px;

background:#111;

color:#00ff66;

border:3px solid #00ff66;
border-radius:15px;

font-size:24px;
font-weight:bold;

cursor:pointer;

z-index:650;
}
/* =========================
   AJUSTE FINAL - FIBONACCI 3
========================= */

#fibonacci3Tela{
font-family:Georgia,serif;
color:#00ff66;
}

#perguntasFibonacci3{
position:absolute !important;
left:90px !important;
top:75px !important;
width:900px !important;
z-index:600 !important;
}

#perguntasFibonacci3 h2{
font-size:30px !important;
line-height:1.15 !important;
margin:16px 0 12px 0 !important;
color:#00ff66 !important;
background:transparent !important;
}

.linhaFib3{
display:flex !important;
align-items:center !important;
gap:18px !important;
font-size:31px !important;
font-weight:bold !important;
margin:10px 0 !important;
color:#00ff66 !important;
}

.linhaFib3 span{
min-width:130px !important;
}

.linhaFib3 input{
width:105px !important;
height:48px !important;
background:rgba(0,0,0,.75) !important;
border:3px solid #00ff66 !important;
border-radius:10px !important;
color:#00ff66 !important;
font-size:30px !important;
font-weight:bold !important;
text-align:center !important;
}

#perguntasFibonacci3 label{
display:block !important;
font-size:25px !important;
line-height:1.15 !important;
margin:9px 0 !important;
color:#00ff66 !important;
background:transparent !important;
}

#numeroForaPadrao{
position:absolute !important;
left:90px !important;
top:610px !important;
width:250px !important;
height:56px !important;
background:rgba(0,0,0,.75) !important;
border:3px solid #00ff66 !important;
border-radius:12px !important;
color:#00ff66 !important;
font-size:34px !important;
font-weight:bold !important;
text-align:center !important;
z-index:650 !important;
}

#validarFibonacci3{
position:absolute !important;
left:760px !important;
top:720px !important;
width:460px !important;
height:70px !important;
background:#0f4a21 !important;
color:white !important;
border:3px solid #00ff66 !important;
border-radius:18px !important;
font-size:25px !important;
font-weight:bold !important;
cursor:pointer !important;
z-index:650 !important;
}

#verMapaFibonacci{
position:absolute !important;
left:1320px !important;
top:470px !important;
width:220px !important;
height:65px !important;
background:#111 !important;
color:#00ff66 !important;
border:3px solid #00ff66 !important;
border-radius:15px !important;
font-size:24px !important;
font-weight:bold !important;
cursor:pointer !important;
z-index:650 !important;
}

#dicaFibonacci3{
position:absolute !important;
left:1320px !important;
top:570px !important;
width:220px !important;
height:65px !important;
background:#111 !important;
color:#00ff66 !important;
border:3px solid #00ff66 !important;
border-radius:15px !important;
font-size:24px !important;
font-weight:bold !important;
cursor:pointer !important;
z-index:650 !important;
}

#mapaFibonacciTela{
position:fixed !important;

left:0 !important;
top:0 !important;

width:100vw !important;
height:100vh !important;

background-image:url("pista444.png") !important;
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;

display:none;

z-index:999999999 !important;

cursor:pointer !important;
}
#btnSairJogo{

position:absolute;

right:60px;
bottom:45px;

width:240px;
height:65px;

background:#651616;

color:white;

border:3px solid #d4af37;

border-radius:15px;

font-size:24px;
font-weight:bold;

cursor:pointer;

z-index:500;

transition:.2s;

}

#btnSairJogo:hover{

background:#8b1d1d;
transform:scale(1.03);

}

/* =========================
      SAIR DO JOGO
========================= */

#btnSairJogo{

position:absolute;

right:50px;
bottom:45px;

width:240px;
height:65px;

background:#651616;

border:3px solid #d4af37;

border-radius:14px;

color:white;

font-size:25px;
font-weight:bold;

cursor:pointer;

z-index:400;

}

#btnSairJogo:hover{

background:#8b1d1d;

}



#janelaSair{

position:fixed;

left:0;
top:0;

width:100vw;
height:100vh;

background:rgba(0,0,0,.82);

display:flex;

justify-content:center;
align-items:center;

z-index:999999;

}



#caixaSair{

width:700px;

padding:45px;

background:#1d1d1d;

border:4px solid #d4af37;

border-radius:20px;

text-align:center;

box-shadow:0 0 40px black;

}



#caixaSair h1{

font-size:48px;

color:#f5d76e;

margin-bottom:20px;

}



#caixaSair p{

font-size:28px;

color:white;

margin-bottom:40px;

}



#continuarJogo,
#confirmarSair{

width:320px;

height:70px;

margin:10px;

font-size:26px;

font-weight:bold;

border:none;

border-radius:15px;

cursor:pointer;

}



#continuarJogo{

background:#145f24;

color:white;

}



#confirmarSair{

background:#8b1d1d;

color:white;

}
#janelaSenhaProfessor{
position:fixed;
left:0;
top:0;

width:100vw;
height:100vh;

background:rgba(0,0,0,.85);

display:flex;
justify-content:center;
align-items:center;

z-index:999999999;
}

#caixaSenhaProfessor{
width:620px;
padding:45px;

background:#1d1d1d;

border:4px solid #d4af37;
border-radius:22px;

text-align:center;

color:white;

box-shadow:0 0 40px black;
}

#caixaSenhaProfessor h1{
font-size:42px;
color:#f5d76e;
margin-bottom:20px;
}

#caixaSenhaProfessor p{
font-size:25px;
margin-bottom:25px;
}

#senhaProfessorInput{
width:360px;
height:60px;

font-size:32px;
text-align:center;

background:#111;
color:#f5d76e;

border:3px solid #d4af37;
border-radius:12px;
}

#caixaSenhaProfessor button{
width:260px;
height:65px;

margin:18px 8px 0 8px;

font-size:24px;
font-weight:bold;

background:#5b3b17;
color:#f5d76e;

border:3px solid #d4af37;
border-radius:15px;

cursor:pointer;
}

#erroSenhaProfessor{
color:#ff7777;
font-size:22px;
margin-top:18px;
}